.slider
  margin-top: 200px
  position: relative
  &__bckg
    position: absolute
    z-index: 1
    left: 0
    top: 0
    background: $additional-color
    width: 50%
    height: 100%
    display: block
    content: ''
    @media (max-width: 960px)
      display: none

  &__wrapper
    background: $additional-color
    border-top-right-radius: 70px
    padding-bottom: 100px
    @media (max-width: 960px)
      width: 100%
      border-top-right-radius: 0
      padding-bottom: 35px


  &__body
    display: flex
    z-index: 2
    position: relative
    margin-right: 70px
    @media (max-width: 960px)
      flex-direction: column
      align-items: center
      margin-right: 0


  &__picture
    max-width: 300px
    min-height: 450px
    transition: height 0.2s linear
    padding: 8px
    background: $main-color
    margin-top: -75px
    display: flex
    align-items: center
    @media (max-width: 960px)
      margin-top: 10px
      width: 300px
    & img
      object-fit: contain
      width: 100%
      height: 100%
      position: relative
      z-index: 2
  &__picture-wrapper
    width: 100%
    height: 100%
    position: relative
    & p
      position: absolute
      color: $additional-color
      top: 50%
      left: 0
      width: 100%
      height: 60%
      text-align: center
      vertical-align: middle
      z-index: 1


  &__article
    max-width: 400px
    min-height: 410px
    background: $main-color
    margin-top: -90px
    padding: 35px
    position: relative
    display: flex
    flex-direction: column
    @media (max-width: 960px)
      margin-top: 10px
      padding: 20px


  &__header
    display: flex
    justify-content: space-between
    @media (max-width: 960px)
      justify-content: center

  &__title
    max-width: 300px
    font-family: $additional-font
    font-weight: 500
    color: $additional-color
    +font-size(36px)
    line-height: 135%
    text-transform: uppercase
    padding-bottom: 20px
    @media (max-width: 960px)
      max-width: none
      text-align: center

  &__btns
    @media (max-width: 960px)
      display: none

    &_mobile
      width: 440px
      display: flex
      @media (min-width: 961px)
        display: none

  &__slide-btn
    content: ''
    float: left
    width: 40px
    height: 40px
    border-radius: 50%
    background: $additional-color
    transition: background 0.2s linear
    position: relative
    cursor: pointer
    &:hover
      background: darken($additional-color, 15)
    &:active
      background: darken($additional-color, 30)

    & span
      &::before
        width: 50%
        height: 10%
        background: $main-color
        display: block
        content: ''
        left: 30%
        top: 30%
        position: absolute
        transform: rotate(45deg)

      &::after
        width: 50%
        height: 10%
        background: $main-color
        display: block
        content: ''
        left: 30%
        bottom: 31%
        position: absolute
        transform: rotate(-45deg)
    &_prev
      transform: rotate(180deg)
      margin-right: 10px

    &-mobile
      border-radius: 0
      width: 50%
      border: 4px solid darken($additional-color, 10)
      background: $main-color
      height: 70px
      content: ''
      position: relative
      cursor: pointer
      &_prev
        border:
          right: none
          left: none
          bottom: none
        & span
        &::before
          width: 18%
          height: 10%
          background: $additional-color
          display: block
          content: ''
          left: 40%
          top: 29.8%
          position: absolute
          transform: rotate(-45deg)

        &::after
          width: 18%
          height: 10%
          background: $additional-color
          display: block
          content: ''
          left: 40%
          bottom: 28%
          position: absolute
          transform: rotate(45deg)

      &_next
        border:
          right: none
          bottom: none
        & span
        &::before
          width: 18%
          height: 10%
          background: $additional-color
          display: block
          content: ''
          left: 40%
          top: 29.8%
          position: absolute
          transform: rotate(225deg)

        &::after
          width: 18%
          height: 10%
          background: $additional-color
          display: block
          content: ''
          left: 40%
          bottom: 28%
          position: absolute
          transform: rotate(135deg)


  &__text
    font-family: $additional-font
    font-weight: 300
    +font-size(20px)
    color: $additional-color
    padding-top: 20px
    border-top: 5px solid $additional-color

  &__link
    align-self: flex-start
    margin-top: auto
    background: rgba(lighten($main-color, 30), 0.4)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    padding: 12px 0
    transition: background 0.2s linear
    @media (max-width: 960px)
      margin-top: auto
      align-self: center
    &:hover
      background: rgba(lighten($main-color, 10), 1)
    &:active
      background: rgba(darken($main-color, 30), 0.4)
    & a
      +font-size(20px)
      padding: 12px 60px
      font-family: $additional-font
      font-weight: normal
      color: $additional-color
      transition: color 0.2s linear
      &:active
        color: rgba($additional-color, 0.8)

.slider .container_slider
  @media (max-width: 960px)
      padding: 0
      width: 100%
