mixin slider
  .slider
    .slider__bckg
    .container.container_slider
      .slider__wrapper
        .slider__body
          .slider__picture
            .slider__picture-wrapper
              p Загрузка картинки...
              img#slider__picture
          article.slider__article
            .slider__header
              h2.slider__title= 'Возможно не удалось загрузить данные!'
              .slider__btns
                .slider__slide-btn.slider__slide-btn_prev
                  span
                .slider__slide-btn.slider__slide-btn_next
                  span
            .slider__text
              = 'Попрбуйте обновить страницу, перезапустить браузер или обновить браузер'
            .slider__link
              a#slider__to-article(href="#")= 'Перейти к статье'
          .slider__btns_mobile
            .slider__slide-btn-mobile.slider__slide-btn-mobile_prev
              .slider__slide-btn-mobile-wrapper
                span
            .slider__slide-btn-mobile.slider__slide-btn-mobile_next
              .slider__slide-btn-mobile-wrapper
                span
