mixin slider
  .slider
    .slider__bckg
    .container.container_slider
      .slider__wrapper
        .slider__body
          .slider__picture
            img(src="img/slider/nasral.jpg", alt="Насрал в руку и хвастается")
          article.slider__article
            .slider__header
              h2.slider__title= 'Студент ДГТУ насрал в руку '
              .slider__link
                span
            .slider__text
              = 'По сообщениям очевидцев, студент ДГТУ пробрался на территорию общежитий ЮФУ, после чего снял штаны и стал бросаться в прохожих предметами, похожими на говно (предположительно фото \"предмета\" с личной страницы нападавшего). Обстоятельства произошедшего выясняются.'
