mixin slider
  .slider
    .slider__bckg
    .container.container_slider
      .slider__wrapper
        .slider__body
          .slider__picture
            .slider__picture-wrapper
              p Не удалось загрузить картинку!
              img#slider__picture
          article.slider__article
            .slider__header
              h2.slider__title= 'Не удалось загрузить данные!'
              a(href="#")#slider__to-article
                .slider__link
                  span
            .slider__text
              = 'Попрбуйте обновить страницу, перезапустить браузер или обновить браузер'
            .slider__mobile-link
              a#slider__to-article-mobile(href="#")= 'Перейти к статье'
