- var menuItems = {home: 'Главная', expo: 'Экспозиция', photos: 'Фотоархив', history: 'История', contacts: 'Контакты'}

mixin header(active)
  header.header
    .container.container_header
        .logo
            .logo__img
              a(href="https://sfedu.ru" target="_blank" rel="noopener noreferrer" title="Сайт ЮФУ")
                img(src="img/header/logo.png" alt="ЮФУ")
            .logo__text
              a(href="#" title="Главная") Museum of Soil Science
        .main-menu
          .main-menu__mobile-button
            span
          .main-menu__body
            ul.main-menu__list
              each name, key in menuItems
                li.main-menu__item(class=active == key ? 'main-menu__item_active' : '')
                  a(href=key + ".html") #{name}