mixin footer
  footer.footer
    .container
      .footer__info
        .footer__logo
          .footer__img
              a(href="https://sfedu.ru" target="_blank" rel="noopener noreferrer" title="Сайт ЮФУ")
                  img(src="img/header/logo.png" alt="ЮФУ")
          .footer__text
            a(href="#" title="Главная")= logoTitle
        .footer__adress= adress
        .footer__copyright= copyright
