mixin footer
  footer.footer
    .container
      .footer__info
        .footer__logo
          .footer__img
              a(href="https://sfedu.ru" target="_blank" rel="noopener noreferrer" title="Сайт ЮФУ")
                  img(src="img/header/logo.png" alt="ЮФУ")
          .footer__text
            a(href="#" title="Главная")= 'Museum of Soil Science'
        .footer__adress= 'Ростовская область, г. Ростов-на-Дону, ул. Мильчакова, 10'
        .footer__copyright= '© Southern Federal, 2021'
