.articles-nav
  background: $main-color
  padding: 15px 25px
  color: $additional-color
  &__title
    font-size: 36px
    font-weight: 700
    margin-bottom: 20px
  &__item, &__item a
    color: $additional-color
    font-size: 18px
    margin: 15px 0
    font-weight: 500
    padding: 0 3px
  
    &:hover,&_active
        border-bottom: 3px solid $additional-color
        transition: border 0.15s linear
  &__list
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start