.exposition
  &__wrapper
    display: flex
    align-items: flex-start
    flex-wrap: no-wrap
    @media ( max-width: 992px )
      flex-wrap: wrap
      justify-content: space-around
      margin-top: 30px
    margin-top: 70px
    margin-bottom: 30px
  &__article
    background-color: $additional-color
    border-top: 20px solid $main-color
