.main-menu
  display: block
  @media screen and ( max-width: 1199px )
    display: none
  &__list
    display: flex
    justify-content: space-between
    align-items: center
  &__item
    margin-bottom: -2px
    & a
      display: lock
      height: 100%
      line-height: 60px
      padding: 18px 10px
      text-transform: uppercase
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      color: rgba($additional-color, 0.7)
      transition: color 0.1s linear
      font-weight: 500
    & a:hover
      color: $additional-color
    &:last-child
      padding-right: 0
    &:hover,
    &_active
      border-bottom: 3px solid $main-color
      transition: border 0.15s linear
