.slider
  margin-top: 200px
  position: relative
  &__bckg
    position: absolute
    z-index: 1
    left: 0
    top: 0
    background: $additional-color
    width: 50%
    height: 100%
    display: block
    content: ''
    @media (max-width: 960px)
      display: none

  &__wrapper
    background: $additional-color
    border-top-right-radius: 70px
    @media (max-width: 960px)
      width: 100%
      border-top-right-radius: 0
      padding-bottom: 35px


  &__body
    display: flex
    z-index: 2
    position: relative
    margin-right: 70px
    bottom: 90px
    @media (max-width: 960px)
      flex-direction: column
      align-items: center
      margin-right: 0
      bottom: 0


  &__picture
    max-width: 350px
    min-height: 350px
    transition: height 0.2s linear
    padding: 8px
    background: $main-color
    margin-top: 25px
    @media (max-width: 960px)
      margin-top: 10px
      display: flex
      align-items: center
      min-height: auto
    & img
      object-fit: cover
      width: 350px
      height: 529px
      position: relative
      z-index: 2
  &__picture-wrapper
    width: 100%
    min-width: 300px
    height: 100%
    position: relative
    & p
      position: absolute
      color: $additional-color
      top: 50%
      left: 0
      width: 100%
      height: 60%
      text-align: center
      vertical-align: middle
      z-index: 1
    @media (max-width: 960px)
      min-height: 350px

  &__article
    max-width: 350px
    min-height: 520px
    background: $main-color
    padding: 25px
    position: relative
    display: flex
    flex-direction: column
    @media (max-width: 960px)
      margin-top: 10px
      padding: 20px
      min-height: 500px
    @media (max-width: 375px)
      min-height: 525px

  &__header
    display: flex
    justify-content: space-between
    @media (max-width: 960px)
      justify-content: center

  &__title
    max-width: 220px
    font-family: $additional-font
    font-weight: 500
    color: $additional-color
    +font-size(36px)
    line-height: 135%
    text-transform: uppercase
    padding-bottom: 20px
    @media (max-width: 960px)
      max-width: none
      text-align: center

  &__btns
    @media (max-width: 960px)
      display: none

    &_mobile
      max-width: 390px
      width: 100%
      display: block
      @media (min-width: 961px)
        display: none

  &__slide-btn
    content: ''
    float: left
    width: 40px
    height: 40px
    border-radius: 50%
    background: $additional-color
    transition: background 0.2s linear
    position: relative
    cursor: pointer
    &:hover
      background: darken($additional-color, 15)
    &:active
      background: darken($additional-color, 30)

    & span
      &::before
        width: 50%
        height: 10%
        background: $main-color
        display: block
        content: ''
        left: 30%
        top: 30%
        position: absolute
        transform: rotate(45deg)

      &::after
        width: 50%
        height: 10%
        background: $main-color
        display: block
        content: ''
        left: 30%
        bottom: 31%
        position: absolute
        transform: rotate(-45deg)
    &_prev
      transform: rotate(180deg)
      margin-right: 10px

    &-mobile
      border-radius: 0
      width: 50%
      border: 4px solid darken($additional-color, 10)
      background: $main-color
      height: 70px
      content: ''
      cursor: pointer
      box-sizing: border-box
      float: left
      &-wrapper
        width: 100px
        height: 70px
        position: relative
        margin: 0 auto
        & span
          &::before
            width: 38%
            height: 10%
            background: $additional-color
            display: block
            content: ''
            left: 40%
            top: 30%
            position: absolute
            transform: rotate(-45deg)

          &::after
            width: 38%
            height: 10%
            background: $additional-color
            display: block
            content: ''
            left: 40%
            bottom: 28%
            position: absolute
            transform: rotate(45deg)
      &_prev
        border:
          right: none
          left: none
          bottom: none

      &_next
        border:
          right: none
          bottom: none
        & .slider__slide-btn-mobile-wrapper
          transform: rotate(180deg)


  &__text
    font-family: $additional-font
    font-weight: 300
    +font-size(20px)
    color: $additional-color
    padding-top: 20px
    border-top: 5px solid $additional-color

  &__link
    align-self: flex-start
    margin-top: auto
    background: rgba(lighten($main-color, 30), 0.4)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    padding: 12px 0
    transition: background 0.2s linear
    @media (max-width: 960px)
      bottom: 0
      align-self: center
    &:hover
      background: rgba(lighten($main-color, 10), 1)
    &:active
      background: rgba(darken($main-color, 30), 0.4)
    & a
      +font-size(20px)
      padding: 12px 60px
      font-family: $additional-font
      font-weight: normal
      color: $additional-color
      transition: color 0.2s linear
      &:active
        color: rgba($additional-color, 0.8)

.slider .container_slider
  @media (max-width: 960px)
      padding: 0
      width: 100%
